@font-face {
  font-family: roboto;
  src: url("fonts/Roboto-Black.ttf"); }
@font-face {
  font-family: roboto_bold;
  src: url("fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: roboto_light;
  src: url("fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: roboto_medium;
  src: url("fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: roboto_regular;
  src: url("fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: roboto_thin;
  src: url("fonts/Roboto-Thin.ttf"); }
@media screen and (min-width: 829px) {
  .header {
    position: fixed;
    height: 81px;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    font-family: arial;
    box-shadow: 0px 5px 30px #969696; }

  .header-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 68%;
    padding-right: 1%;
    text-align: right; }

  .header-img {
    margin-left: 5%;
    width: 100px;
    height: 60px; }

  #header-bars {
    display: none; }

  .header-link {
    color: #0091D0;
    text-decoration: none;
    margin-top: 15px;
    padding: 0px 1.5% 1.5% 0;
    display: inline-block;
    border-right: 2px solid #0091D0; }

  #last {
    border-right: none;
    width: 140px; }

  .header-language {
    display: inline-block; }

  .header-language-list {
    background-color: transparent;
    color: #262262;
    font-family: roboto;
    border: none; }

  .header-icon, .header-link-icon {
    display: none; }

  .header-busqueda {
    display: inline-block;
    background-color: #0091D0;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 70px; }

  .header-icon-link {
    display: inline-block;
    margin-top: 30px; }

  .header-icon {
    width: 45px; } }
@media screen and (max-width: 828px) {
  .header {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: white;
    font-size: 24px;
    font-family: arial;
    box-shadow: 0px 5px 30px #969696; }

  .header-bar {
    display: none;
    position: absolute;
    padding-top: 50px;
    width: 100%;
    height: 1000px;
    background-color: white;
    padding-left: 10%; }

  .header-img {
    margin: 7px;
    width: 100px;
    height: 60px; }

  #header-bars {
    float: right;
    margin: 15px 10px 0 0;
    width: 14.5%;
    min-width: 50px;
    max-width: 60px;
    cursor: pointer;
    display: block; }

  .header-link {
    min-height: 30px;
    display: block;
    color: #0091D0;
    border-bottom: 1px solid #0091D0;
    text-decoration: none;
    width: 80%;
    padding: 15px 0; }

  .header-busqueda {
    display: block;
    background-color: #0091D0;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    line-height: 35px;
    width: 60%;
    max-width: 300px;
    height: 35px; }

  .header-icon-link {
    display: inline-block;
    margin-top: 30px; }

  .header-icon {
    width: 45px; }

  .header-language-list {
    background-color: transparent;
    color: #262262;
    font-family: roboto;
    border: none; } }
@media screen and (max-width: 413px) {
  .side-bar {
    display: none; } }
@media screen and (min-width: 413px) {
  .side-bar {
    position: fixed;
    display: block;
    background-color: #E0E0E0;
    width: 50px;
    top: 40%;
    right: 0;
    z-index: 100;
    padding: 5px 0;
    border-radius: 15px 0 0 15px;
    box-shadow: 5px 7px 25px #969696; }

  .side-bar-icon-link {
    display: inline-block;
    margin-left: 5px; }

  .side-bar-icon {
    width: 40px; } }
.footer {
  color: white;
  font-family: roboto_regular;
  position: relative;
  width: 100%;
  background-color: #262262;
  background: -webkit-linear-gradient(#2A5C94, #29427B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2A5C94, #29427B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2A5C94, #29427B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2A5C94, #29427B);
  /* Standard syntax */
  min-height: 200px;
  overflow: hidden; }

.footer-img {
  width: 15%;
  min-width: 70px;
  margin-left: 2%;
  margin-top: 15px;
  float: left; }
  @media screen and (max-width: 350px) {
    .footer-img {
      position: absolute; } }

.footer-oficinas, .footer-ventas {
  margin-top: 40px;
  width: 15%;
  min-width: 180px;
  margin-right: 3%;
  float: right; }
  @media screen and (max-width: 576px) {
    .footer-oficinas, .footer-ventas {
      min-width: 120px; } }
  @media screen and (max-width: 350px) {
    .footer-oficinas, .footer-ventas {
      margin-right: 1%;
      margin-top: 90px; } }

@media screen and (max-width: 376px) {
  .footer-ventas {
    margin-right: -1%; } }

.footer-oficinas {
  border-right: solid white 1px; }

.footer-oficinas-title, .footer-ventas-title {
  font-size: 16px;
  text-transform: uppercase; }
  @media screen and (max-width: 376px) {
    .footer-oficinas-title, .footer-ventas-title {
      font-size: 12px; } }

.footer p {
  font-size: 14px; }
  @media screen and (max-width: 376px) {
    .footer p {
      font-size: 10px; } }

.footer .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px; }

* {
  padding: 0;
  margin: 0; }

.emprendimientos {
  /*background-image: url('../imgs/tubusqueda.jpg');*/
  margin-top: 80px;
  width: 100%;
  display: block;
  position: relative; }

.emprendimientos-title {
  font-size: 28px;
  padding-bottom: 10px;
  color: #0091D0;
  font-family: roboto_bold;
  padding: 30px 0 0 5%;
  background-color: white;
  margin-bottom: 0; }
  @media screen and (max-width: 376px) {
    .emprendimientos-title {
      font-size: 20px; } }

.emprendimiento, .emprendimiento--hidden {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 30px 0; }

.emprendimiento-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1; }

.emprendimiento-info {
  z-index: 1;
  background-color: #0091D0;
  background-color: rgba(0, 145, 208, 0.7);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0; }

.emprendimiento-info-name {
  font-family: roboto_regular;
  text-align: center;
  margin-bottom: 10px;
  width: 98%; }

.emprendimiento-info-description {
  text-align: center;
  font-family: roboto_regular;
  width: 98%; }

.emprendimiento-info-status {
  font-family: roboto;
  text-align: center;
  width: 98%; }

.emprendimiento-tag {
  background-color: #fff594;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  color: #262262;
  font-family: roboto_bold;
  font-size: 12px;
  text-align: center;
  left: 5%;
  top: -65px;
  position: absolute;
  -ms-transform: rotate(-25deg);
  /* IE 9 */
  -webkit-transform: rotate(-25deg);
  /* Safari */
  transform: rotate(-25deg); }
  @media only screen and (min-width: 415px) and (max-width: 795px) {
    .emprendimiento-tag {
      top: -50px; } }
  @media only screen and (min-width: 796px) and (max-width: 935px) {
    .emprendimiento-tag {
      top: -50px;
      left: 10%; } }
  @media only screen and (min-width: 936px) {
    .emprendimiento-tag {
      top: -50px;
      left: 15%;
      width: 100px;
      height: 100px;
      font-size: initial; } }

#taginit {
  margin-top: 18px; }

.emprendimiento-tag-line {
  width: 20px;
  height: 3px;
  background-color: #262262;
  margin: 5px auto; }

.emprendimiento-info-vermas {
  width: 120px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding-top: 10px;
  font-family: roboto_thin;
  text-align: center;
  background-color: #262262;
  height: 30px;
  margin: auto;
  margin-top: 10px; }

.emprendimientos-vermas {
  text-align: center;
  margin: auto;
  background-color: #262262;
  height: 45px;
  color: white;
  font-family: roboto_thin;
  font-size: 20px;
  line-height: 45px;
  max-width: 160px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: background-color .125s; }

.emprendimientos-vermas:hover {
  background-color: white;
  color: #262262; }

.emprendimiento--hidden {
  display: none; }

@media only screen and (min-width: 414px) {
  .emprendimiento, .emprendimiento--hidden {
    height: 500px; } }

/*# sourceMappingURL=emprendimientos.css.map */
