* {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 829px) {
  .header {
    position: fixed;
    height: 81px;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    font-family: arial;
    box-shadow: 0px 5px 30px #969696; }

  .header-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 68%;
    padding-right: 1%;
    text-align: right; }

  .header-img {
    margin-left: 5%;
    width: 100px;
    height: 60px; }

  #header-bars {
    display: none; }

  .header-link {
    color: #0091D0;
    text-decoration: none;
    margin-top: 15px;
    padding: 0px 1.5% 1.5% 0;
    display: inline-block;
    border-right: 2px solid #0091D0; }

  #last {
    border-right: none;
    width: 140px; }

  .header-language {
    display: inline-block; }

  .header-language-list {
    background-color: transparent;
    color: #262262;
    font-family: roboto;
    border: none; }

  .header-icon, .header-link-icon {
    display: none; }

  .header-busqueda {
    display: inline-block;
    background-color: #0091D0;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 70px; }

  .header-icon-link {
    display: inline-block;
    margin-top: 30px; }

  .header-icon {
    width: 45px; } }
@media screen and (max-width: 828px) {
  .header {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: white;
    font-size: 24px;
    font-family: arial;
    box-shadow: 0px 5px 30px #969696; }

  .header-bar {
    display: none;
    position: absolute;
    padding-top: 50px;
    width: 100%;
    height: 1000px;
    background-color: white;
    padding-left: 10%; }

  .header-img {
    margin: 7px;
    width: 100px;
    height: 60px; }

  #header-bars {
    float: right;
    margin: 15px 10px 0 0;
    width: 14.5%;
    min-width: 50px;
    max-width: 60px;
    cursor: pointer;
    display: block; }

  .header-link {
    min-height: 30px;
    display: block;
    color: #0091D0;
    border-bottom: 1px solid #0091D0;
    text-decoration: none;
    width: 80%;
    padding: 15px 0; }

  .header-busqueda {
    display: block;
    background-color: #0091D0;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    line-height: 35px;
    width: 60%;
    max-width: 300px;
    height: 35px; }

  .header-icon-link {
    display: inline-block;
    margin-top: 30px; }

  .header-icon {
    width: 45px; }

  .header-language-list {
    background-color: transparent;
    color: #262262;
    font-family: roboto;
    border: none; } }
@font-face {
  font-family: roboto;
  src: url("fonts/Roboto-Black.ttf"); }
@font-face {
  font-family: roboto_bold;
  src: url("fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: roboto_light;
  src: url("fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: roboto_medium;
  src: url("fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: roboto_regular;
  src: url("fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: roboto_thin;
  src: url("fonts/Roboto-Thin.ttf"); }
@media screen and (max-width: 413px) {
  .side-bar {
    display: none; } }
@media screen and (min-width: 413px) {
  .side-bar {
    position: fixed;
    display: block;
    background-color: #E0E0E0;
    width: 50px;
    top: 40%;
    right: 0;
    z-index: 100;
    padding: 5px 0;
    border-radius: 15px 0 0 15px;
    box-shadow: 5px 7px 25px #969696; }

  .side-bar-icon-link {
    display: inline-block;
    margin-left: 5px; }

  .side-bar-icon {
    width: 40px; } }
.footer {
  color: white;
  font-family: roboto_regular;
  position: relative;
  width: 100%;
  background-color: #262262;
  background: -webkit-linear-gradient(#2A5C94, #29427B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2A5C94, #29427B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2A5C94, #29427B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2A5C94, #29427B);
  /* Standard syntax */
  min-height: 200px;
  overflow: hidden; }

.footer-img {
  width: 15%;
  min-width: 70px;
  margin-left: 2%;
  margin-top: 15px;
  float: left; }
  @media screen and (max-width: 350px) {
    .footer-img {
      position: absolute; } }

.footer-oficinas, .footer-ventas {
  margin-top: 40px;
  width: 15%;
  min-width: 180px;
  margin-right: 3%;
  float: right; }
  @media screen and (max-width: 576px) {
    .footer-oficinas, .footer-ventas {
      min-width: 120px; } }
  @media screen and (max-width: 350px) {
    .footer-oficinas, .footer-ventas {
      margin-right: 1%;
      margin-top: 90px; } }

@media screen and (max-width: 376px) {
  .footer-ventas {
    margin-right: -1%; } }

.footer-oficinas {
  border-right: solid white 1px; }

.footer-oficinas-title, .footer-ventas-title {
  font-size: 16px;
  text-transform: uppercase; }
  @media screen and (max-width: 376px) {
    .footer-oficinas-title, .footer-ventas-title {
      font-size: 12px; } }

.footer p {
  font-size: 14px; }
  @media screen and (max-width: 376px) {
    .footer p {
      font-size: 10px; } }

.footer .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px; }

.body-img {
  width: 100%;
  min-height: 500px; }

.error {
  position: absolute;
  width: 60%;
  background-color: #315c95;
  text-align: center;
  left: 20%;
  padding: 10px;
  top: 30%;
  color: white;
  border-radius: 15px; }

.error h1 {
  font-family: roboto_bold;
  font-size: 50px; }

.error h2 {
  font-family: roboto_light;
  font-size: 40px; }

@media only screen and (max-width: 414px) {
  .error {
    width: 92%;
    padding: 10px;
    left: 0;
    top: 30%;
    color: white;
    border-radius: 15px; }

  .error h1 {
    font-size: 40px; }

  .error h2 {
    font-size: 30px; } }

/*# sourceMappingURL=nodisponible.css.map */
