@font-face{
	font-family: roboto;
	src: url("fonts/Roboto-Black.ttf");
}
@font-face{
	font-family: roboto_bold;
	src: url("fonts/Roboto-Bold.ttf");
}
@font-face{
	font-family: roboto_light;
	src: url("fonts/Roboto-Light.ttf");
}
@font-face{
	font-family: roboto_medium;
	src: url("fonts/Roboto-Medium.ttf");
}
@font-face{
	font-family: roboto_regular;
	src: url("fonts/Roboto-Regular.ttf");
}
@font-face{
	font-family: roboto_thin;
	src: url("fonts/Roboto-Thin.ttf");
}