	@import 'header.scss';
	@import 'fonts.scss';
	@import 'slider.scss';
	@import 'slider1.scss';
	@import 'buttonsNumber.scss';
	@import 'titles.scss';
	@import 'footer.scss';
	@import 'sidebar.scss';


	* {
		padding: 0;
		margin: 0;
	}

	.properties{
		background-image: url("../imgs/buenosaires-puerto-madero.jpg");
		margin-top: 80px;
		width: 100%;
		height: calc(100% - 80px);
		background-size: 100% 100%;
		padding: 60px 0;
	}

	.properties-title{
		background-color: rgba(0,0,0,.1);
		border-radius: 80%;
		box-shadow: 0 0 50px 40px rgba(0,0,0,.1);
		color: white;
		text-align: center;
		font-family: roboto_bold;
		font-size: 39px;
		width: 90%;
		margin: 0 auto 30px;
	}

	.properties select {
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    font-family: roboto_light;
	    font-size: 16px;
	    padding: 2px 2px 2px 6px;
		background: white url("../imgs/br_down.png") no-repeat center;
		background-position: 97% 50%;
	}

	.properties input::placeholder{
		font-family: roboto_light;
	    font-size: 16px;
		color: black;
		padding: 2px 2px 2px 2px;
	}

	.properties-list{
		width: 92%;
		background: $celeste;
	    background: rgba($celeste, 0.5);
	    margin: auto;
	    border-radius: 20px;
	    list-style-type: none;
	    padding: 40px 5px;
	}
	.properties-list-element{
		display: inline-block;
		margin-top: 7px;
		margin-bottom: 7px;
		margin-left: 5px;
		position: relative;
		width: calc(50% - 10px);
	}


	 .properties-list-element-select{
	 	width: 100%;
	 	height: 40px;
	 }

	 .properties-list-element:nth-child(4){
		width: calc(50% - 14px);
		.properties-list-element-select{
			height: 36px;
		}

	}

	.properties-list-element-submit{
		display: block;
		margin: auto;
		margin-top: 15px;
		background-color: $azul;
		color: white;
		font-family: roboto_light;
		font-size: 16px;
		text-transform: uppercase;
		border: none;
		width: 60%;
		min-width: 170px;
		max-width: 300px;
		height: 40px;
	}
	.properties-link{
		display: block;
		color: white;
		font-family: roboto_light, arial;
		font-size: 18px;
		margin: 10px;
		text-align: center;
	}

	.disting_properties, .main-emprendimientos{
		width: 100%;
		position: relative;
		background: $azul; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(#2A5C94,#29427B); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(#2A5C94,#29427B); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(#2A5C94,#29427B); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(#2A5C94,#29427B); /* Standard syntax */
	}




@media only screen and(min-width: 760px){
	.properties-list{
		width: 92%;
		background: $celeste;
	    background: rgba($celeste, 0.5);
	    margin: auto;
	    border-radius: 20px;
	    list-style-type: none;
	    padding: 40px 10px;
	}

	.properties-list-element{
		display: inline-block;
		margin-top: 7px;
		margin-bottom: 7px;
		margin-left: 30px;
		position: relative;
		width: calc(30% - 10px);
	}


	 .properties-list-element-select{
	 	width: 100%;
	 	height: 40px;
	 }

	 .properties-list-element:nth-child(4){
		width: calc(30% - 14px);
		margin-right: 4px;
		.properties-list-element-select{
			height: 36px;
		}

	}

	.properties-list-element-submit{
		margin: initial;
		display: inline-block;
		margin-left: 20%;
	}
	.properties-link{
		display: inline-block;
	}
}
